*, *:before, *:after {
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
}
body{
	background-color: #7CCCF2;
}

h1 {
   font-size: 3em;
   font-style: italic;
   font-family: "Times New Roman", Georgia, Serif;
}
h2 {
   font-size: 2em;
   font-family: "Courier New", Courier, monospace;
   text-align: center;
}
h1, h2 {
   font-weight: bold;
   margin: 5px 0;
}
p {
   font-size: 1em;
   margin: 5px 0;
   text-align: justify;
}

a {
	text-decoration: none;
}
ul {
   padding-left: 10px;
   margin: 10px 0;
   list-style-type: none;
}

.destra {
	text-align: right;
}

li {
   margin-left: 0px;
   margin-right: 5px;
   padding-left: 0px;
}

header li {
   display: inline;
}


header, article, aside, footer {
	border-top-right-radius:2em;
	border-bottom-left-radius:2em;
	padding: 10px 1em;
	margin: 0 5% 10px;
	background-color: #ffffff;
}

footer {
	background-color: #E9E9E9;
	text-align: center;
	font-weight: bold;
}

header {
   margin-top: 10px;
}

