#fullpage{
	max-width: 80em;
	margin: auto;
}

*, *:before, *:after {
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
}
body{
	background-color: #7CCCF2;
}

h1 {
   font-size: 2emem;
   font-style: italic;
   font-family: "Times New Roman", Georgia, Serif;
}
h2 {
   font-size: 1.5em;
   font-family: "Courier New", Courier, monospace;
   text-align: center;
}
h1, h2 {
   font-weight: bold;
   margin: 5px 0;
}
p {
   font-size: 1em;
   margin: 5px 0;
   text-align: justify;
}

a {
	text-decoration: none;
}
ul {
   padding-left: 10px;
   margin: 10px 0;
   list-style-type: none;
}

aside ul{
	text-align: center;
}

.centro {
	text-align: center;
}

li {
   margin-left: 0px;
   margin-right: 5px;
   padding-left: 0px;
}

header li {
   display: inline;
}


header, article, aside, footer {
	border-top-right-radius:2em;
	border-bottom-left-radius:2em;
	padding: 10px 1em;
	margin: 0 5% 10px;
	background-color: #ffffff;
}

header{
	background-image: url(https://scontent.xx.fbcdn.net/hphotos-xtp1/t31.0-8/q90/s720x720/11700882_956732497732748_908708252425615759_o.jpg);
	image-position: center;
}


footer {
	background-color: #E9E9E9;
	text-align: center;
	font-weight: bold;
}

footer p{
	text-align: center;
}

header {
   margin-top: 10px;
}

header h1{
	text-align: center;
}


@media only screen and (min-width: 36em) {
   article {
      width: 67%;
      float: left;
      margin-right: 0;
   }
   aside {
      width: 21%;
      float: right;
      margin-left: 0;
   }
   footer {
      clear: both;
	  margin-bottom: 10px;
   }
}

@media only screen and (min-width: 63em){
	article {
      width: 36%;
   }
   
   .colonna_1{
	   margin-left: 1.5%;
   }
   
   aside {
      width: 15%;
   }
	
}
